doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/closed.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
  body
    div.closed-page
      div.clock
        div.top
        div.right
        div.bottom
        div.left
        div.center
        div.shadow
        div.hour
        div.minute
        div.second
      div.closed-box
        div.closed-box__title Website is temporarily inaccessible.
        div.closed-box__text This website is only operational during formal working hours. (Monday to Friday, from 9AM to 17PM UTC+1)
